@page "/keys/{id}"
@model SharpTheory.Pages.KeyDetailsModel
@{
    if (Model.Key != null)
    {
        <div class="d-flex align-items-center">
            <h1>
                @Model.Key.Name @if (Model.Key.Enharmonic != null)
                {
                    <span>
                        / @Model.Key.Enharmonic[0]
                    </span>

                }
            </h1>

            <a asp-page="/KeyReference" class="btn btn-secondary mb-3 ms-auto">
                &larr; Back to Keys List
            </a>
        </div>
        
        <h2>Relative: @Model.Key.Relative</h2>
        <ul style="list-style: none; padding: 0; display: flex; gap: 0.5rem;">
            @if (Model.Scale != null)
            {
                foreach (var note in Model.Scale.Notes)
                {
                    <li style="border: 1px solid #ccc; border-radius: 4px; padding: 0.5rem 1rem; margin: 0;">
                        @note
                    </li>
                }
            }
        </ul>
        <p>@Model.Key.NumSharps Sharps | @Model.Key.NumFlats Flats | Semitone @Model.Key.Integer </p>
        @if (Model.Scale != null && Model.Key.Mode == "major")
        {
            <table class="table table-bordered w-auto">
                <thead>
                    <tr>
                        <th>Roman Numeral</th>
                        <th>Root</th>
                        <th>Third</th>
                        <th>Fifth</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>I</td>
                        <td>@Model.Scale.Notes[0]</td>
                        <td>@Model.Scale.Notes[2]</td>
                        <td>@Model.Scale.Notes[4]</td>
                    </tr>
                    <tr>
                        <td>ii</td>
                        <td>@Model.Scale.Notes[1]</td>
                        <td>@Model.Scale.Notes[3]</td>
                        <td>@Model.Scale.Notes[5]</td>
                    </tr>
                    <tr>
                        <td>iii</td>
                        <td>@Model.Scale.Notes[2]</td>
                        <td>@Model.Scale.Notes[4]</td>
                        <td>@Model.Scale.Notes[6]</td>
                    </tr>
                    <tr>
                        <td>IV</td>
                        <td>@Model.Scale.Notes[3]</td>
                        <td>@Model.Scale.Notes[5]</td>
                        <td>@Model.Scale.Notes[0]</td>
                    </tr>
                    <tr>
                        <td>V</td>
                        <td>@Model.Scale.Notes[4]</td>
                        <td>@Model.Scale.Notes[6]</td>
                        <td>@Model.Scale.Notes[1]</td>
                    </tr>
                    <tr>
                        <td>vi</td>
                        <td>@Model.Scale.Notes[5]</td>
                        <td>@Model.Scale.Notes[0]</td>
                        <td>@Model.Scale.Notes[2]</td>
                    </tr>
                    <tr>
                        <td>vii&deg</td>
                        <td>@Model.Scale.Notes[6]</td>
                        <td>@Model.Scale.Notes[1]</td>
                        <td>@Model.Scale.Notes[3]</td>
                    </tr>
                </tbody>
            </table>
        }
        @if (Model.Scale != null && Model.Key.Mode == "minor" && Model.NatMinor != null)
        {
            <table class="table table-bordered w-auto">
                <thead>
                    <tr>
                        <th>Roman Numeral</th>
                        <th>Root</th>
                        <th>Third</th>
                        <th>Fifth</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>i</td>
                        <td>@Model.Scale.Notes[0]</td>
                        <td>@Model.Scale.Notes[2]</td>
                        <td>@Model.Scale.Notes[4]</td>
                    </tr>
                    <tr>
                        <td>ii&deg</td>
                        <td>@Model.Scale.Notes[1]</td>
                        <td>@Model.Scale.Notes[3]</td>
                        <td>@Model.Scale.Notes[5]</td>
                    </tr>
                    <tr>
                        <td>III</td>
                        <td>@Model.Scale.Notes[2]</td>
                        <td>@Model.Scale.Notes[4]</td>
                        <td>@Model.NatMinor.Notes[6]</td>
                    </tr>
                    <tr>
                        <td>iv</td>
                        <td>@Model.Scale.Notes[3]</td>
                        <td>@Model.Scale.Notes[5]</td>
                        <td>@Model.Scale.Notes[0]</td>
                    </tr>
                    <tr>
                        <td>V</td>
                        <td>@Model.Scale.Notes[4]</td>
                        <td>@Model.Scale.Notes[6]</td>
                        <td>@Model.Scale.Notes[1]</td>
                    </tr>
                    <tr>
                        <td>VI</td>
                        <td>@Model.Scale.Notes[5]</td>
                        <td>@Model.Scale.Notes[0]</td>
                        <td>@Model.Scale.Notes[2]</td>
                    </tr>
                    <tr>
                        <td>VII</td>
                        <td>@Model.NatMinor.Notes[6]</td>
                        <td>@Model.Scale.Notes[1]</td>
                        <td>@Model.Scale.Notes[3]</td>
                    </tr>
                    <tr>
                        <td>vii&deg</td>
                        <td>@Model.Scale.Notes[6]</td>
                        <td>@Model.Scale.Notes[1]</td>
                        <td>@Model.Scale.Notes[3]</td>
                    </tr>
                </tbody>
            </table>
        }
    }
}