@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Description != null)
{
    <div class="text-center">
        <h2>@Model.Description.Title</h2>
        <p>@Model.Description.Description</p>
        <p>Author: @Model.Description.Author</p>
        <p>Version: @Model.Description.Version</p>
    </div>
} 

@if (Model.Keys != null && Model.Keys.Count > 0)
{
    <ul>
        @foreach(var key in Model.Keys)
        {
            <li>
                <strong>@key.Name</strong> - Mode: @key.Mode, @key.NumSharps Sharps @key.NumFlats Flats
            </li>
        }
    </ul>
}
